.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: -1px 0px 9px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -1px 0px 9px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 0px 9px 0px rgba(0, 0, 0, 0.35);
  margin: 30px 0px;
}
.postWrapper {
  padding: 10px;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.postUserName {
  font-size: 15px;
  font-weight: 500;
  margin: 0px 10px;
}
.postDate {
  font-size: 12px;
}
.postCenter {
  margin: 20px 0px;
}
.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.likeIcon {
  font-size: 18px !important;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50%;
  padding: 4px;
  background: #ff585f;
  color: #fff;
}
.postLikeCounter {
  font-size: 15px;
}
.postCommentText {
  cursor: pointer;
  font-size: 15px;
  border-bottom: 1px dashed gray;
}
